/*body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

section#featured-property {
  text-align: center;
}

figcaption {
  font-size: smaller;
}

figure ~ p {
  width: 800px;
  text-align: center;
}

nav a {
  padding: 0px 10px 0px;
  background-color: grey;
}

div {
  float: left;
}

section#details {
  text-align: center;
 
}

h3 {
  text-align:center;
  margin-right: 220px;

}*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
